In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dataset_6_letter.csv')

In [3]:
df.shape

(20000, 17)

In [4]:
df.head()

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx,class
0,2,4,4,3,2,7,8,2,9,11,7,7,1,8,5,6,Z
1,4,7,5,5,5,5,9,6,4,8,7,9,2,9,7,10,P
2,7,10,8,7,4,8,8,5,10,11,2,8,2,5,5,10,S
3,4,9,5,7,4,7,7,13,1,7,6,8,3,8,0,8,H
4,6,7,8,5,4,7,6,3,7,10,7,9,3,8,3,7,H

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['class'] = le.fit_transform(df['class'])

In [7]:
df.head()

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx,class
0,2,4,4,3,2,7,8,2,9,11,7,7,1,8,5,6,25
1,4,7,5,5,5,5,9,6,4,8,7,9,2,9,7,10,15
2,7,10,8,7,4,8,8,5,10,11,2,8,2,5,5,10,18
3,4,9,5,7,4,7,7,13,1,7,6,8,3,8,0,8,7
4,6,7,8,5,4,7,6,3,7,10,7,9,3,8,3,7,7

In [10]:
df.to_csv('dataset_6_letter.csv',index=None)

### Data Cleaner

In [ ]:
def pre(df_name):
    #df.rename(columns={df.columns[-1]:'class'},inplace=True)
    #df.replace({'?':np.nan},inplace=True)
    #df = df.apply(lambda x:x.fillna(x.value_counts().index[0]))
    obj_columns = list(df.select_dtypes(['object','bool']).columns)
    if len(obj_columns) != 0:
        le = LabelEncoder()
        for obj in obj_columns:
            df[obj] = le.fit_transform(df[obj])
    #df.to_csv('datasets/'+df_name,index=None)
    return df