In [21]:
import pandas as pd
import numpy as np

In [117]:
df = pd.read_csv("dataset_3_kr-vs-kp.csv")

df.shape

(3196, 37)

In [118]:
df.head(2)

,bkblk,bknwy,bkon8,bkona,bkspr,bkxbq,bkxcr,bkxwp,blxwp,bxqsq,...,spcop,stlmt,thrsk,wkcti,wkna8,wknck,wkovl,wkpos,wtoeg,class
0,'f','f','f','f','f','f','f','f','f','f',...,'f','f','f','f','f','f','t','t','n','won'
1,'f','f','f','f','t','f','f','f','f','f',...,'f','f','f','f','f','f','t','t','n','won'

### 用LabelEncoder创建新的数据

In [119]:
from sklearn.preprocessing import LabelEncoder

In [120]:
# extract the parameter infromation in the dataset
def label_encoder(df):
    categorical_feature_mask = df.dtypes==object
    categorical_cols = df.columns[categorical_feature_mask].tolist()
    if categorical_cols != []:
        enc = LabelEncoder()
        df[categorical_cols] = df[categorical_cols].apply(lambda col: enc.fit_transform(col))
    return df

In [121]:
df_1 = label_encoder(df)

In [122]:
df_1.shape

(3196, 37)

In [123]:
df_1.head(3)

,bkblk,bknwy,bkon8,bkona,bkspr,bkxbq,bkxcr,bkxwp,blxwp,bxqsq,...,spcop,stlmt,thrsk,wkcti,wkna8,wknck,wkovl,wkpos,wtoeg,class
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,1
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,1
2,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,1

In [124]:
df_1.to_csv('dataset_3_kr-vs-kp_le.csv',index=None)

### 用OneHotEncoder创建新的数据

In [129]:
df = pd.read_csv("dataset_3_kr-vs-kp.csv")

df.shape

(3196, 37)

In [130]:
from sklearn.preprocessing import OneHotEncoder

In [141]:
df_dummie = pd.get_dummies(df.iloc[:,:-1])

In [146]:
le = LabelEncoder()

In [148]:
df_dummie['class'] = le.fit_transform(df['class'])

In [150]:
df_dummie.to_csv('dataset_3_kr-vs-kp_ohe.csv',index=None)