In [21]:
import pandas as pd
import numpy as np

In [117]:
df = pd.read_csv("dataset_3_kr-vs-kp.csv")

df.shape

(3196, 37)

In [118]:
df.head(2)

,bkblk,bknwy,bkon8,bkona,bkspr,bkxbq,bkxcr,bkxwp,blxwp,bxqsq,...,spcop,stlmt,thrsk,wkcti,wkna8,wknck,wkovl,wkpos,wtoeg,class
0,'f','f','f','f','f','f','f','f','f','f',...,'f','f','f','f','f','f','t','t','n','won'
1,'f','f','f','f','t','f','f','f','f','f',...,'f','f','f','f','f','f','t','t','n','won'

### 用LabelEncoder创建新的数据

In [119]:
from sklearn.preprocessing import LabelEncoder

In [120]:
# extract the parameter infromation in the dataset
def label_encoder(df):
    categorical_feature_mask = df.dtypes==object
    categorical_cols = df.columns[categorical_feature_mask].tolist()
    if categorical_cols != []:
        enc = LabelEncoder()
        df[categorical_cols] = df[categorical_cols].apply(lambda col: enc.fit_transform(col))
    return df

In [121]:
df_1 = label_encoder(df)

In [122]:
df_1.shape

(3196, 37)

In [123]:
df_1.head(3)

,bkblk,bknwy,bkon8,bkona,bkspr,bkxbq,bkxcr,bkxwp,blxwp,bxqsq,...,spcop,stlmt,thrsk,wkcti,wkna8,wknck,wkovl,wkpos,wtoeg,class
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,1
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,1
2,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,1

In [124]:
df_1.to_csv('dataset_3_kr-vs-kp_le.csv',index=None)

### 用OneHotEncoder创建新的数据

In [169]:
df = pd.read_csv("dataset_183_adult_ohe.csv")

df.shape

(48842, 110)

In [170]:
df.head(2)

,age,fnlwgt,education-num,capitalgain,capitalloss,hoursperweek,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,class_<=50K,class_>50K
0,2,77516,13,1,0,2,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,3,83311,13,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [171]:
df.drop(columns=['class_<=50K'],inplace=True)

In [172]:
df.rename(columns={'class_>50K':'class'},inplace=True)

In [173]:
df.head(2)

,age,fnlwgt,education-num,capitalgain,capitalloss,hoursperweek,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,class
0,2,77516,13,1,0,2,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,3,83311,13,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [174]:
df.to_csv('dataset_183_adult_ohe.csv',index=None)

In [130]:
from sklearn.preprocessing import OneHotEncoder

In [141]:
df_dummie = pd.get_dummies(df.iloc[:,:-1])

In [146]:
le = LabelEncoder()

In [148]:
df_dummie['class'] = le.fit_transform(df['class'])

In [150]:
df_dummie.to_csv('dataset_3_kr-vs-kp_ohe.csv',index=None)